*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
}

section.inicio{
    width: 100%;
    height: 587px;
    background-color: #290742;
    border-bottom: 5px solid #4FFF4B;
}

header{
    width: 100%;
    height: 44px;
    padding: 64px;
    display: flex;
}

header .logo{
    width: 161.14px;
    height: 36.54px;
    background-image: url(./images/logo.svg);
    background-size: 100% 100%;
    display: flex;
    cursor: pointer;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 343px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li{
    font-size: 18px;
    color: white;
    cursor: pointer;
}

header .search{
    width: 300px;
    display: flex;
}

header .search input{
    width: 230px;
    height: 44px;
    outline: none;
    border: 1px solid rgb(13, 13, 13);
    background-color: #170027;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 14px;
    color: white;
}

input::placeholder {
    color: #FBF6FF;
  }
  header .search .right{
    width: 70px;
    height: 44px;
    background-color: #9E6DC2;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
header .search .icon-search{
    width: 24px;
    height: 24px;
    background-image: url(./images/search.svg);
    margin: 0 auto;
}

/* CONTEUDO PRINCIPAL */
section.inicio section.conteudo-principal{
    margin-top: 64px;
    width: 100%;
}
section.inicio section.conteudo-principal .container{
    display: flex;
    justify-content: space-between;
}

section.inicio section.conteudo-principal .left{
    width:570px ;
    height: 311px;
}

section.inicio section.conteudo-principal .left h1{
    width: 566px;
    font-size: 36px;
    line-height: 54px;
    text-align: left;
    color: #9E6DC2;
    letter-spacing: 3px;
}

section.inicio section.conteudo-principal .left p{
    color: white;
    width: 469px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 17px;
    margin-bottom: 24px;
}

section.inicio section.conteudo-principal .left a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #9E6DC2;
    float: left;
}
section.inicio section.conteudo-principal .left .icone-seta{
    width: 20px;
    height: 20px;
    background-image: url(./images/arrow-right.svg);
    background-size: 100% 100%;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

section.inicio section.conteudo-principal .right{
    width: 570px;
    height: 346px;
    background-image: url(./images/featured-image.png);
    border-radius: 8px;
}

section.part2{
    width: 100%;
    padding-top: 64px;
}

section.part2 .container{
    display: flex;
    justify-content: space-between;
}
section.part2 section.left{
    width: 569px;
    height: 546px;

}
section.part2 section.left .imagem{
    width: 569px;
    height: 342.43px;
    background-image: url(./images/post-1.png);
    background-size: 100% 100%;
}

section.part2 section.left h2{
    font-size: 24px;
    color: #290742;
    margin: 15px 0;
}

section.part2 section.left p{
    font-size: 16px;
    line-height:24px ;
}

section.part2 section.right{
    width: 467px;
    height: 414px;
}

section.part2 section.right h2{
    font-size: 24px;
    color: #290742;
    margin: 8px 0;
}
section.part2 section.right .texto1{
    margin-bottom: 24px;
    border-bottom: 1px solid #F2E7FA;
    padding-bottom: 24px;
}

section.part2 section.right p{
    font-size: 16px;
    line-height:24px ;
}

section.final{
    width: 100%;
    margin-top: 64px;
    height: 600px;
}


section.final .container{
    display: flex;
    justify-content: space-between;
}

section.final .card{
    width: 370px;
    height: 458px;

}

section.final .card p{
    font-size: 16px;
    line-height:24px ;
}

section.final .card .imagem{
    width: 370px;
    height: 259px;
}

section.final .card h2{
    font-size: 24px;
    color: #290742;
    margin: 8px 0;
    line-height: 36px;
}

section.final .card .img1{
    background-image: url(./images/post-2.png);
    background-size: 100% 100%;
}

section.final .card .img2{
    background-image: url(./images/post-3.png);
    background-size: 100% 100%;
}
section.final .card .img3{
    background-image: url(./images/post-4.png);
    background-size: 100% 100%;
}